@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-light-rgb: 0, 0, 0;
  --background-light-rgb: 255, 255, 255;

  --foreground-dark-rgb: 255, 255, 255;
  --background-dark-rgb: 0, 0, 0;


  --textdefault: 12, 14, 46;
  --texthighlight: 46, 143, 241;


}

body {
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;

  color: rgb(var(--foreground-light-rgb));
  background-color: rgb(var(--background-light-rgb));
}

[data-theme="dark"] body {
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;

  color: rgb(var(--foreground-dark-rgb));
  background-color: rgb(var(--background-dark-rgb));
}